/*sign up css also some parts reused by other pages**/

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header, footer, section, div {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}
/*
*
* Header
*
*/

.header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    min-height: 56px;
    transition: min-height 0.3s;
}

.header__inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header__logo {
    height: 72px;
    margin-right: 1em;
    vertical-align: top;
    margin-top: 20px;
}

.header__title {
    font-weight: 300;
    font-size: 3em;
    margin: 0.75em 0.25em;
    display: inline-block;
    color: #212121;
}

.header__logout{
    font-weight: 300;
    font-size: 2em;
    margin: 0.27em 0.75em;
    display: inline-block;
    color: #212121;
}

/*
 *
 * Content
 *
 */

/*
 *
 * sign up 
 * 
 */
/* Style inputs, select elements, password and email */
input[type=text], select, input[type=password], input[type=email], input[type=date], input[type=time]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 10px 10px 10px 0;
    display: inline-block;
}

/* Style the submit button */
input[type=submit] {
    background-color: #35424a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* Style the  container */
.form_container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding:0px 16px 16px 16px;
    margin-left: 1%;
    margin-right: 1%;
}

/* Floating column for labels: 18% width */
.col-25 {
    float: left;
    width: 18%;
    margin-top: 6px;
}

/* Floating column for inputs: 82% width */
.col-75 {
    float: right;
    width: 82%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*sign_in_container*/
#sign_in_container{
    padding: 5%;
}


/*
 *
 * Main
 *
 */
main {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* padding of 1.5em for easy use on mobile while tapping on links*/
a{
    padding: 1.5em;
}

.form_container a, .header__logout a{
    text-decoration: none;
}

.form_container h2, #view_requests h2, #view_offers h2, #all_rides h2{
    text-align: center;
    color: #212121
}

/*
 *
 * Footer
 *
 */

footer {
    
    padding:25px;
    margin-top:25px;
    width: 100%;
    text-align: center;
    background-color:#35424a;
    color:#ffffff;
  }

/*Log in css**/

/**
*
*driver css
*
*/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}



/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.5em;
    transition: 0.3s;
    width: 25%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #78909C;
    color: #ffffff;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style the cancel button */
input[type=reset] {
    background-color: #ed8153;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/*style requests table**/
.requests {
    width: 100%;
  }

.table_display {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.table_display th, 
.table_display td{
    padding: 1em;
    text-align: left;
}

.table_display th{
    color: #fff;
    font-weight: 300;
    background-color: #78909C;
}

.table_display tr:nth-child(odd) td {
    background-color: #fff;
}

.table_display tr:nth-child(even) td {
    background-color: #eceff1;
}

#reject, #cancel_request{
    background-color: #ed8153;
    color: white;
    padding: 0.7em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#accept, #view_details, #ride_request{
    background-color: #35424a;
    color: white;
    padding: 0.7em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}/**/

#driver_menu_container{
    padding: 0% 2% 2% 2%; 
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#ride_request{
    float: right;
}

#cancel_request{
    float: left;
}

.rides{
    padding: 2%;
}
#no_of_rides_given p, #no_of_rides_taken p{
    font-weight: 900;
    color: #35424a;
}

#no_of_rides_taken{
    float: right;
    width: 50%
}
#no_of_rides_given{
    float: left;
    width: 50%;
}

#demo_link{
    padding: 3%;
    text-align: center
}